* text=auto eol=lf

*.hbp text eol=lf
*.hbi text eol=lf
*.sha256 text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.sgram binary
*.sgram.sha256 text eol=lf
